<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="FacebookLogin" value="lu.brendell@gmail.com"/>
        <add key="FacebookPass" value="{123456}"/>
        <!--https://www.facebook.com/groups/{groupId}/requests/-->
        <add key="FacebookGroupId" value="770808563258590"/>
        <add key="MemberProcessingDelay" value="500"/>

        <!--https://docs.google.com/spreadsheets/d/1k73Yo5gftGXyfDdZl6pfbYGlKIUnr61OMllCWSNLRCc/-->
        <add key="GoogleSpreadsheetId" value="1k73Yo5gftGXyfDdZl6pfbYGlKIUnr61OMllCWSNLRCc"/>
        <add key="ExcelFilePath" value="Марина_Бурмака.csv"/>
    </appSettings>
</configuration>